[submodule "Gusion/vendor/spdlog"]
	path = Gusion/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Gusion/vendor/GLFW"]
	path = Gusion/vendor/GLFW
	url = ../../DrSteam1111/glfw.git
[submodule "Gusion/vendor/imgui"]
	path = Gusion/vendor/imgui
	url = ../../DrSteam1111/imgui.git
[submodule "Gusion/vendor/glm"]
	path = Gusion/vendor/glm
	url = ../../g-truc/glm.git
